<form>
    <aside>
        <img
            height="144",
            width="108",
            src="systems/wod/assets/actor/header/avatar.png"
        />
    </aside>

    <!-- HEADER -->
    {{> systems/wod/templates/actor/components/wod-actor-sheet-header.handlebars}}
</form>