<header>
    <aside>
        <div class="profile-ribbon">
            <div class="profile-affiliation">
                <select name="{{actor.clan}}" data-dtype="String"></select>
            </div>
            <img
                    height="144"
                    width="108"
                    src="systems/wod/assets/actor/header/avatar.png"
                    title="{{actor.name}}"
                    data-edit="img"
            />
        </div>
    </aside>
</header>